<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="d-flex justify-content-between mt-1 mb-4 border-bottom">
  <h1><%= @collection.name %></h1>
  <div class="col-auto">
    <a href="<%= new_bookmark_path %>" class="btn btn-primary mb-3 px-4">New</a>
  </div>
</div>

<div class="h-100">
  <div class="row mb-5 pb-5">
    <% unless @collection_bookmarks.empty?  %>
    <% @collection_bookmarks.each do |bookmark| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
              <div class="d-flex">
                <%= image_tag("bookmark.png", size: "20x20" , class: "mt-1" , alt: "Bookmark icon") %>
                <h5 class="card-title mx-1 truncate">
                  <%= bookmark.title %>
                </h5>
              </div>
              <%= link_to bookmark_path(bookmark) do %>
                <i class="bi bi-eye align-bottom action-icon" title="Show"></i>
              <% end %>
            </div>
            <h6 class="card-subtitle mb-2 text-muted truncate">
              <%= bookmark.collection.name %>
            </h6>
            <p class="card-text truncate mt-3 mb-2 pb-2">
              <%= bookmark.description %>
            </p>
            <a href="<%= bookmark.link %>" target="_blank" class="card-link link bottom-0">
              <%= bookmark.link %>
            </a>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <div class="py-4 my-4 text-center">
        <%= image_tag("bookmarks.png", size: "50x50" , class: "" , alt: "Bookmarks icon") %>
        <p class="pt-2 pb-2 mb-3 text-muted">No bookmarks.</p>
      </div>
    <% end %>
  </div>
</div>

<footer class="footer mt-auto">
  <div class="container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</footer>
