<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="d-flex justify-content-between border-bottom mt-1 mb-3">
  <h1>Collections</h1>
  <div class="col-auto">
    <a href="<%= new_collection_path %>" class="btn btn-primary mb-3 px-4">New</a>
  </div>
</div>

<p class="mb-4">
  <small>Total: </small>
  <span class="mb-4 rounded-pill px-1">
    <%= @count %>
  </span>
</p>

<div class="h-100">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Bookmarks</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td><%= image_tag("tag.png", size: "15x15" , alt: "Tag icon") %> <span class="mx-1"><%= collection.name %></td></span>
          <td><%= collection.bookmarks.count %></td>
          <td>
            <a href="<%= collection_path(collection) %>" class="action-icon" title="Show"><i class="bi bi-eye"></i></a>
            <%= link_to edit_collection_path(collection), class: "mx-3 action-icon", title: "Edit" do %>
              <i class="bi bi-pencil align-bottom"></i>
            <% end %>
            <%= link_to collection, data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' }, class: "action-icon", title: "Delete" do %>
              <i class="bi bi-trash3 align-bottom"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<footer class="footer mt-auto py-3">
  <div class="container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</footer>
